@media(max-width: 767px){
  .answerButton {
    font-size: 1rem !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
}

.answerButton {
  padding: 1rem;
  border: 3px solid #36f;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background .4s, color .4s;
  -webkit-transition: background .4s, color .4s;
}
.answerButton:hover {
  background: #36f;
  color: #fff;
}